{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "singleAttributePerLine": true,
  "tailwindFunctions": ["clsx", "cn", "classnames"],
  "tailwindAttributes": ["className", "class"]
}
